body {
    margin: 0;
    font-family:'Roboto Condensed', sans-serif;
    background-color: #f3f4f5;

}

#mid-container{
    width: 1200px;
    height: 1200px;
    border: solid  red 6px; 
    margin: auto;
}

#menu{
    width: 1200px;
    height: 140px;
/*  margin-bottom: 70px;
    margin-left: 400px; */
    border-bottom-style: solid;
    border-color: grey;
    border-width: 1px;
    }
    
#logo{
    position: absolute;
     margin: 50px 20px;
    }
    
.buttons{
    color: #3c4a52;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 10px;
    background: none;
    margin: 70px 10px; 
    width: 100px;
    height: 40px;
    }
    
.buttons:hover{
    background-color: #656a6f;
    border-radius: 2px; 
     }
    
    
.buttons:focus{
     background-color: #ffc000;  
     border-radius: 2px; 
    }
    
#buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }

.main-containers{
    height: 310px;
    width: 1200px;
    border: darkblue solid 2px;
    display: flex;
    justify-content: flex-start;
    }

.lewy{
    width: 400px;
    height: 300px;
    border: darkgreen solid 2px;
    }

.prawy{
    width: 800px;
    height: 300px;
    border: darkorange solid 2px;
    }

    


 #footer-center{
        width: 1200px;
        height: 80px;
        margin-right: 0px;
        margin-top: 20px;
        border-top-style: solid;
        border-color: grey;
        border-width: 1px;
        padding-top: 10px;
    }
        
    
        
#social{
        height: 45px;
        width: 50px;
        margin-top: 15px;
        margin-bottom: 10px;
        float: right;
        
        }
        
        
#logo-foot{
        height: 45px;
        width: 450px;
        margin-left: 0px;
        margin-top: 10px;
        position: absolute;
        }
        