body {
    margin: 0;
    font-family:'Roboto Condensed', sans-serif;


}

#background-img{
    background-image: url('masthead@2x.jpg');
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 720px;
}

#menu{
width: 1450px;
height: 200px;
margin-bottom: 70px;
margin-left: 400px;
}

#logo{
position: absolute;
margin: 50px 20px;
}

.buttons{
color: #3c4a52;
text-decoration: none;
font-weight: 600;
font-size: 30px;
border: none;
padding: 10px;
background: none;
margin: 70px 10px;
width: 130px;
height: 60px;
}

.buttons:hover{
 background-color: #ffc000;  
 border-radius: 2px; 
}

#buttons-container{
display: flex;
flex-direction: row;
justify-content: flex-end;
}


#info{
width: 850px;
height: 400px;
margin-left: 400px;

}

#text1{
font-weight: bold;
font-size: 100px;
color: white;
margin: 20px 20px;
}

#text2{
font-style: italic;
font-size: 35px;
color: #f3f4f5;
margin: 10px 20px;
}

#text3{
font-size: 35px;
color: white;
margin: 10px 20px;
}

#text4{
font-size: 25px;
color: white;
margin: 30px 20px;
}

p span{
font-size: 20px;
color: #5b5c5d;
}


#dol{
width: 100%;
height: 400px;
background-color: #f3f4f5;
position: absolute;
margin-top: 720px;
}

#columns-container{
width: 100%;
height: 300px;
margin-top: 0;  
margin-left: 400px;  
display: flex;
justify-content: flex-start;

}

.column{
width: 400px;
height: 325px;
margin-top: 0;
border-bottom-style: solid;
border-color: grey;
border-width: 1px;
}

.Odnosniki{
font-weight: bold;
font-size: 40px;
width: 250px;
padding-bottom: 30px;
height: 40px;
color: #3c4a52;
}

.columns-text{
font-size: 20px;
color: grey;
margin: 5px 5px;
}

#footer{
width: 100%;
height: 100px;
margin-bottom: 90px;
margin-top: 20px;
}

#footer-center{
width: 1200px;
height: 100px;
margin-left: 400px;
margin-right: 0px;

} 

#social{
height: 45px;
width: 50px;
margin-top: 15px;
margin-bottom: 10px;
float: right;

}


#logo-foot{
height: 45px;
width: 450px;
margin-left: 0px;
margin-top: 10px;
position: absolute;
}

.square{
    width:  12px;
    height: 12px;
    border-radius: 4px;
    background-color: gold;
}