body {
    background: #000;
    font-family: sans-serif;
  }
 
  #lewy{  
   float: left;
    width: 150px;
    height: 100%;
    background-color: #252a3a;
    color: white;
  }

  #przycisk{
    background-color: #1B98F8;
    border-radius: 20px;
    padding: 8px 16px;
    margin: 16px 18%;
    color: white;
  }

  .menu{
margin: 5% 20% 5% 15%;

  }
  p span{
    color: 	#374f6f;
  }

  .kategoria{
margin-left: 28%;
margin-top: 10%;
  }
 
  .square{
    position: absolute;
    width:  12px;
    height: 12px;
    border-radius: 4px;
    margin-left: 1%;
    margin-top: 0%;
  }

  #labels{
    margin: 5% 20% 5% 10%
  }

  #lista{
  width: 350px;  
  height: 100%;
  background-color: #fff;
  float: left;
  overflow-y: scroll;
  }

#caly:after{
  content: "";
  display: table;
  clear: both;
}

#podglad{
  width: 100%;
  height: 100%;
  background-color: white;

}

#mail1{
height: 118px;
padding: 14px 16px;
border-style: solid;
border-width: 1px;
border-color: gray;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}
.mail{
height: 118px;
padding: 14px 16px;
border-style: solid;
border-width: 1px;
border-color: gray;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}

.zajawka{
  display: inline-block;
  margin-right: 60px;
  margin-top: 0px;
}


.mail2and3{
  height: 118px;
  padding: 14px 16px;
  border-style: solid;
  border-width: 1px 1px 1px 6px;
  border-color:gray gray gray #1B98F8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  }

.avatar{
  width: 64px;
  height: 64px;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 8px;
}

.avatar2and3{
  width: 64px;
  height: 64px;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 8px;
}

#mail1:hover{
  background-color: #eee;
}

.name{
color: #999999;
text-transform: uppercase;
font-size: 13px;
width: 150px;
height: 2px;
}

.title{
color: black;
font-size: 16px;
max-width: 160px;
height: 25px;
font-weight: bold;
}

.intro{
color: black;
font-size: 13px;
margin: 7px 0;
height: 30px;
width: 160px;
}

#info{
  font-size: 32px;
  color: black;
}

#info{
width: 100%;
border-bottom-style: solid;
border-bottom-color: #666666;
border-bottom-width: 1px;
}

#tytul-maila{
font-size: 32px;
height: 30px;
margin-top: 40px;
margin-left: 50px;
}

#szczegoly-maila{
font-size: 16px;
}

#tresc{
font-size: 16px;
margin: 16px 0;
width: auto;
}

.buttons{
  font-size: 16px;
  color: #666666;
  padding: 6px 26px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 10px;

}

#buttons-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}
