body {
    display: flex;
    background: #000;
    flex-direction: column;
    justify-content: start;
    font-family: sans-serif;
  }
 
  #lewy{
    position: absolute;  
    width: 150px;
    height: 100%;
    background-color: #252a3a;
    color: white;

  }

  #przycisk{
    background-color: #1B98F8;
    border-radius: 20px;
    padding: 8px 16px;
    margin: 16px 18%;
    color: white;
  }

  .menu{
margin: 5% 20% 5% 15%;

  }
  p span{
    color: 	#374f6f;
  }

  .kategoria{
margin-left: 28%;
  }
 
  .square{
    position: absolute;
    width:  12px;
    height: 12px;
    border-radius: 4px;
    margin-left: 16%;
  }

  #labels{
    margin: 5% 20% 5% 10%
  }

  #lista{
  width: 350px;  
  height: 100%;
  background-color: #fff;
  }

