body {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

#back{
margin: 0;
width: 100%;
/* border: green solid 3px; */
background-color:#efefef;
background-position: center;
position: absolute;
min-height: 100%;
}

#container1{
    margin: 0;
    display: flex;
    width: 100%;
  /*  border: darkslateblue solid 2px; */
    min-height: 100%;
    }

#menu{
    margin: 0;
    width: 100%;
    height: 16%;
  /*  border: indigo solid 2px; */
    background-color: #1f1f1f;
    padding: 1% 0;
    }

#about{
    margin: 0;
    width: 100%;
    height: 24%;
    border-bottom: #1f1f1f solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#skills{
    margin: 0;
    width: 100%;
    height: 24%;
  /*  border: orange solid 2px; */
 

}

#develop{
    margin: 0;
    width: 100%;
    height: 24%;
  /*  border: red solid 2px; */
  border-top: #1f1f1f solid 2px;

}



#footer{
    margin: 0;
    width: 100%;
    height: 14%;
  /*  border: brown solid 2px; */
    color: white;
    background-color: #1f1f1f;
    font-size: 22px;
    padding-bottom:  3%;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    border: none;
    padding: 10px;
    background: none;
    width: 110px;
    height: 30px;
    margin: 20px 10px;
    }
    
.buttons:hover{
    border-bottom: 2px solid;
    border-radius: 2px; 
    transition: ease-in-out
    }
    
 #buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* margin-right: 48%; 
    margin-right: 720px;*/
    margin-right: auto;
    padding-right: 2%;
    }
#logo{
   position: absolute;
   align-items: flex-start;
   width: 100px; 
   height: 100px;
   margin-left: 5%;
}

#about span{
    font-size: 30px;
    font-weight: normal;
}
#about p{
    font-size: 22px;
}

#profilowe{
    height: 300px;
    width: 199px;
    border-radius: 2px;
    margin-left: 5%;
    margin-top: 2%;
}

#text{
    width: 90%;
    height: 30%;
  /*  border: royalblue solid 2px; */
    margin-left: 2%;
    
}

.mid-container{
    height: 100%;
    width: 70%;
 /*   border: tomato solid 2px; */
    margin-left: 19%;
}
.mid-text p{
    font-size: 22px;
}

/*
#stack-logo{
    width: 30%;
    height: 100%;
    border: yellow solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
*/

.text-logo{
    width: 60%;
    height: 100%;
 /*   border: goldenrod solid 2px; */
    margin-left: 2%;
    margin-top: 5%;
}
.wpis{
    height: 12%;
    width: 100%;
  /*  border: springgreen solid 2px; */
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;

}

#ikony{
    margin-left: 10%;
    height: 100%;
    width: 50%; 
    padding-top: 2%;   
}

#copy{
    margin-left: 20%;
    width: 30%;
    height: 100%;
    padding-top: 2%;  
    padding-right: 1%;
}

#pojemnik-logo{
width: 20%;
height: 100%;
}

#logo1{
    position: absolute;
    width: 100px; 
    height: 100px;
    margin-left: 5%;
 }

 a:active{
     transition: slide-in-top 1s ease-in-out;
 }

 label{
     margin: 0 40px 0 0;
     font-size: 40px;
     line-height: 70px;
     display: none;
 }

 #tog{
 display: none;

 }

 @media only screen and (max-width: 800px)
 {
    label{
        display: block;
        cursor: pointer;
        color: white;
        text-align: right;
        margin-right: 8%;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    #buttons-container{
    text-align: center;
    width: 100%;
    display: none;
    }

    #buttons-container a {
    display: block;
    border-bottom: #ffc90e 2px solid;
    width: 100%;
    margin: 0;

    }

    #tog:checked + #buttons-container{
        display: block;
    }

    .mid-container{
        height: 100%;
        width: 70%;
     /*   border: tomato solid 2px; */
        margin-left: 28%;
    }


}

@media only screen and (max-width: 1520px ) and (min-width: 801px)
{
    .mid-container{
        height: 100%;
        width: 70%;
     /*   border: tomato solid 2px; */
        margin-left: auto;
    }
}

@media only screen and (max-width: 815px) and (orientation: portrait)
{   
    .mid-container{
        height: 100%;
        width: 100%;
     /*   border: tomato solid 2px; */
        margin: auto;
    }

    #footer{
        margin: 0;
        width: 100%;
        height: 14%;
      /*  border: brown solid 2px; */
        color: white;
        background-color: #1f1f1f;
        font-size: 22px;
        padding-bottom:  3%;
        padding-top: 1%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #ikony{
        margin-left: 10%;
        height: 100%;
        width: 50%; 
        padding-top: 2%; 
        align-self: flex-end;  
    }

    #copy{
        margin-left: 16%;
        width: 100%;
        height: 100%;
        padding-top: 6%;  
        padding-right: 10%;

    }

}

@media only screen and (max-width: 640px) and (orientation: portrait)
{
    #menu{
        margin: 0;
        width: 100%;
        height: 16%;
      /*  border: indigo solid 2px; */
        background-color: #1f1f1f;
        padding: 3% 0;
        }

    label{
        display: block;
        cursor: pointer;
        color: white;
        text-align: right;
        margin-right: 8%;
        padding-bottom: 2%;
        padding-top: 2%;
        }  

    #tog:checked + #buttons-container{
        display: block;
        overflow: hidden;
    }
}

@media only screen and (max-width: 440px) and (orientation: portrait)
{
    #menu{
        margin: 0;
        width: 100%;
        height: 16%;
      /*  border: indigo solid 2px; */
        background-color: #1f1f1f;
        padding: 4% 0;
        }

    label{
        display: block;
        cursor: pointer;
        color: white;
        text-align: right;
        margin-right: 8%;
        padding-bottom: 2%;
        padding-top: 2%;
        }  

    #tog:checked + #buttons-container{
        display: block;
        overflow: hidden;
    }

    #about{
        margin: 0;
        width: 100%;
        height: 24%;
        border-bottom: #1f1f1f solid 2px;
        display: block;
  
    }

    #profilowe{
        height: 300px;
        width: 199px;
        border-radius: 2px;
        margin-left: 5%;
        margin-top: 2%;
    }


}

@media only screen and (max-width: 640px) and (orientation: landscape)
{
    #menu{
        margin: 0;
        width: 100%;
        height: 16%;
      /*  border: indigo solid 2px; */
        background-color: #1f1f1f;
        padding: 4% 0;
        }

    label{
        display: block;
        cursor: pointer;
        color: white;
        text-align: right;
        margin-right: 8%;
        padding-bottom: 2%;
        padding-top: 2%;
        }  

    #tog:checked + #buttons-container{
        display: block;
        overflow: hidden;
    }

    #about{
        margin: 0;
        width: 100%;
        height: 24%;
        border-bottom: #1f1f1f solid 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
    }

    #profilowe{
        height: 300px;
        width: 199px;
        border-radius: 2px;
        margin-left: 5%;
        margin-top: 2%;
    }

    .mid-container{
        height: 100%;
        width: 100%;
     /*   border: tomato solid 2px; */
        margin: 0;
    }

    
    #ikony{
        margin-left: 20%;
        height: 100%;
        width: 100%; 
        padding-top: 2%;   
    }

    #copy{
        margin-left: 12%;
        width: 100%;
        height: 30%;
        padding-top: 6%;  
        padding-right: 10%;

    }



}

@media only screen and (max-width: 800px) and (min-width: 1px) and (orientation: landscape)
{
    .mid-container{
        height: 100%;
        width: 100%;
     /*   border: tomato solid 2px; */
        margin: 0;
    }




}

@media only screen and (max-width: 580px) and (min-width: 1px) and (orientation: landscape)
{
   
    #footer{
        margin: 0;
        width: 100%;
        height: 14%;
      /*  border: brown solid 2px; */
        color: white;
        background-color: #1f1f1f;
        font-size: 22px;
        padding-bottom:  3%;
        padding-top: 1%;
        display: block;
    }

    #ikony{
        margin-left: 40%;
        margin-right: 20%;
        height: 100%;
        width: 50%; 
        padding-top: 2%; 
    }

    #copy{
        margin-left: 16%;
        width: 100%;
        height: 100%;
        padding-top: 6%;  
        padding-right: 10%;
        float: auto;
    }



}


